body{
             margin: 0;
            font-family: Arial, sans-serif;
            background: palevioletred;
            color: white;
            text-align: center;
        }
         nav {
            background: rgba(0,0,0,0.3);
            padding: 15px 30px;
        }
         nav a {
            text-decoration: none;
            color: white;
            margin:  10px;
        }
        header {
            padding: 80px 20px;
        }

        h1 {
            font-size: 50px;
        }
        section {
            background: white;
            color: black;
            margin: 20px;
            padding: 40px;
            border-radius: 10px;
        }
        form {
            display: flex;
            flex-direction: column;
            max-width: 400px;
            margin: auto;
        }
        button {
            background-color: blueviolet;
            color: white;
            border: none;
            cursor: pointer;
            font-weight: bold;
            }

        button:hover {
            background-color: #4e0ca3;
        }
    